/*Development*/
/* div {
	border: 1px;
	border-style: solid;
} */

/*Code Key*/
/*For each chunk below:

object {
    positioning

    sizing

    text-formatting
}

*/

* {
	font-family: "Monte", sans-serif;
}

body {
	margin: 0;
}

.content {
	font-size: 3vh;
}

h1 {
	text-align: center;
	margin-top: 10vh;
}

header {
	position: relative;
	width: 100vw;
	height: 15vh;
}

img {
	border: 0.1vw solid grey;
	box-shadow: 5px 5px 5px grey;
	margin-left: 1vw;
	margin-right: 1vw;
}

.wrapper_top {
	width: 100%;
	height: 95%;
	box-shadow: 0px 1px 5px grey;
}

.wrapper_top > div {
	margin-top: 6vh;
	font-size: 4vh;
}

.element_name {
	float: left;
	margin-left: 5vw;
	color: cadetblue;
}

.element_contact {
	float: left;
	margin-left: 2em;
	background-color: cadetblue;
	border-radius: 5%;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}

.element_contact > a {
	color: white;
	text-decoration: none;
	font-size:2vw;
}

.element_contact > a:hover {
	color: cadetblue;
	background-color: white;
}

.element_nav {
	float: right;
	margin-right: 7vw;
}

.element_nav a {
	padding: 0.75vh;
	color: black;
	text-decoration: none;
	border-radius: 1vh;
	border: 1px;
	font-size:2vw;
}

.element_nav a:hover {
	background-color: cadetblue;
	color: white;
}

#active_nav {
	text-decoration: underline;
	text-decoration-color: cadetblue;
	text-underline-offset: 1.5vh;
	text-decoration-thickness: 1vh;
}

/*All pages: project display*/
#container_modal_projects {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
}

#modal_projects {
	border: 1vh solid grey;
	position: fixed;
	left: 4vw;
	top: 4vh;
	height: 89vh;
	width: 90vw;
	background-color: white;
}

#container_project_display {
	width: 64%;
	height: 100%;
	text-align: center;
}

#iframe_project_display {
	margin-top: 2vh;
	height: 85vh;
	width: 50vw;
	background-color: grey;
	border: 1vh solid grey;
}

.wrapper_modal_nav {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 35%;
}

.container_modal_title {
	margin-top: 15vh;
	width: 95%;
	height: 10vh;
	text-align: center;
}
.wrapper_modal_categories {
	width: 100%;
	margin-top: 1vh;
}

.wrapper_modal_categories > button {
	margin-left: 3vw;
	font-size: 1.5vw;
	padding: 0.5vh;
	border-radius: 1vw;
	border: 0.5vh solid grey;
}

.wrapper_modal_categories > button:hover {
	background-color: cadetblue;
	color: white;
}

#button_projects_open {
	position: fixed;
	bottom: 2vh;
	left: 5vw;
	font-size: 5vh;
	border: 1vh solid grey;
	border-radius: 1vw;
}

#button_projects_open:hover {
	background-color: cadetblue;
	color: white;
}

#button_projects_close {
	position: fixed;
	background-color: lightcoral;
	color: white;
	bottom: 5vh;
	right: 17.5%;
	font-size: 3vh;
	border-radius: 1vh;
	border: 1vh solid grey;
}

#button_projects_close:hover {
	background-color: red;
	color: white;
}

.wrapper_projects {
	background-color: rgba(0, 0, 0, 0.2);
	width: 90%;
	height: 40%;
	margin-top: 5vh;
	font-size: 2vh;
}

.wrapper_projects ul {
	padding-left: 3vw;
	padding-right: 1vw;
	padding-top: 2vh;
}

.wrapper_projects li {
	margin-top: 1vh;
}

.wrapper_projects button {
	font-size: 2vh;
}

#wrapper_data_projects {
	display: block;
}

#wrapper_policy_projects {
	display: none;
}

#wrapper_documents {
	display: none;
}

/*Content: Homepage*/
.content {
	margin-top: 10vh;
}

.wrapper_profilepic {
	display: inline-block;
}

.img_profilepic {
	height: 60vh;
	margin-left: 5vw;
}

.element_hometext {
	display: inline-block;
	width: 50vw;
	margin-left: 5vw;
	margin-right: 10vw;
	vertical-align: top;
}

/*Content: Data*/
.wrapper_analysistext {
	margin-left: 15vw;
	margin-right: 10vw;
}

.wrapper_datavisual1 {
	float: left;
	margin-bottom: 2vh;
	margin-right: 2vw;
}

.wrapper_datavisual1 img {
	width: 30vw;
	margin-right: 5vw;
}

.wrapper_datavisual2 {
	float: right;
	margin-left: 5vw;
}

.wrapper_datavisual2 img {
	width: 40vw;
}

.wrapper_visualAFFEC {
	float: left;
	margin-right: 5vw;
}

.wrapper_visualAFFEC img {
	width: 21vw;
}

/*Content: Policy*/
.wrapper_policytext {
	margin-left: 15vw;
	margin-right: 10vw;
}

.wrapper_policyvisual_bar {
	float: right;
	margin-left: 5vw;
}

.wrapper_policyvisual_bar img {
	width: 40vw;
}

.wrapper_policyvisual_line {
	float: left;
	margin-right: 5vw;
}

.wrapper_policyvisual_line img {
	width: 25vw;
}

/*Content: Documents*/
.wrapper_document_text {
	margin-left: 15vw;
	margin-right: 10vw;
}

.container_email {
	text-align: center;
}

/*Footer*/
footer {
	text-align: center;
	height: 10vh;
	width: 99.8vw;
	margin-top: 5vh;
}

footer > button {
	width: 5vw;
	height: 5vw;
	background-position: center;
	background-size: cover;
	border: 0.5vh solid grey;
	border-radius: 10%;
	padding-bottom: 2vh;
}

footer > button:hover {
	background-color: cadetblue;
}

.button_github {
	background-image: url("icons/icon_gh.png");
}

.button_github:hover {
	background-image: url("icons/icon_gh_alt.png");
}

.button_linkedin {
	background-image: url("icons/icon_lk.png");
}

.button_linkedin:hover {
	background-image: url("icons/icon_lk_alt.png");
}

.button_kaggle {
	background-image: url("icons/icon_kg.png");
}

.button_kaggle:hover {
	background-image: url("icons/icon_kg_alt.png");
}
